body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: fit-content;
}

.App {
  height: fit-content;
}

#root {
  height: fit-content;
}

html {
  background: linear-gradient(#2a00b7, #45006c);
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  width: fit-content;
}
